.new_post {
  position: relative;
  z-index: 9998;

  form {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    justify-content: space-between;

    button {
      all: unset;
      cursor: pointer;
      padding: 0.75rem 1rem;
      border-radius: 0.5rem;
      background: var(--clr-blue-500);
      transition: background 0.2s ease-in-out;

      &:hover {
        background: var(--clr-blue-700);
      }
    }
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 600;
    background: transparent;
    border: none;
    border-radius: 0.75rem;
    padding: 0.5rem;
    color: var(--clr-white-900);
    min-width: 14ch;

    &:focus,
    &:valid {
      outline: 2px solid var(--clr-blue-500);
    }
  }
}
